body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background: url(https://png.pngtree.com/thumb_back/fh260/background/20201017/pngtree-question-mark-on-a-pink-pastel-background-3d-illustration-image_422717.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    position: relative;
    height: calc(100vh - 58px);
    width: 100vw;
    margin: auto;
    text-align: center;
}
.container h1 {
    margin: 0;
    text-transform: uppercase;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(255, 255, 255);
    position: absolute;
    top: 20%;
    left: 0;
}
.container p {
    color: #fff;
    text-align: left;
    width: 70%;
    position: absolute;
    margin: 0;
    top: 30%;
    font-size: 30px;
    left: 0;
    font-weight: 400;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
} 
button {
    position: absolute;
    left: 0;
    bottom: 30%;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 20px;
    border: none;
    outline: none;
    background-color: yellow;
    transition: 0.3s ease;
}
button:hover {
    background-color: rgb(188, 127, 245);
}
