body {
    font-family: Arial, sans-serif;
    background-image: url('https://images.pexels.com/photos/5088017/pexels-photo-5088017.jpeg?cs=srgb&dl=pexels-olia-danilevich-5088017.jpg&fm=jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; /* This will ensure the image doesn't scroll with the content */
    line-height: 1.6;
    margin: 0; /* Removes default margin */
    height: 100vh; /* Make the body take the full viewport height */
}
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}
.box {
    background: #fff;
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #ddd;
}
li a {
    text-transform: uppercase;
}
h1 {
    color: #fff;
    font-size: 45px;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}
span {
    font-style: italic;
}
.question {
    margin-bottom: 10px;
}
.answer {
    margin-left: 20px;
}