<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grammar Test</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/questions.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="/">Главная меню</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/getGrammaPage" style="font-weight: bolder;">Грамматика</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Орфография</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/getAnketaPage">Анкета</a>
              </li>
          </ul>
        </div>
      </nav>
    <div class="container">
        <h1>Грамматический Тест</h1>
        <p class="message"><%= msg %></p>
        <form action="/getResponseFromGramma" method="post" id="grammarTest">

            <div class="question">
                <p>1. Укажите форму глагола в будущем времени: "Я (читать) книгу".</p>
                <label><input type="radio" name="q1" value="inc"> А) Читал</label>
                <label><input type="radio" name="q1" value="inc"> Б) Читаю</label>
                <label><input type="radio" name="q1" value="correct"> В) Буду читать</label>
                <label><input type="radio" name="q1" value="inc"> Г) Читать</label>
            </div>
            <div class="question">
                <p>2. Какое слово лишнее?</p>
                <label><input type="radio" name="q2" value="inc"> А) Стол</label>
                <label><input type="radio" name="q2" value="inc"> Б) Стул</label>
                <label><input type="radio" name="q2" value="inc"> В) Диван</label>
                <label><input type="radio" name="q2" value="correct"> Г) Бегать</label>
            </div>
            <div class="question">
                <p>3. Укажите правильный вариант множественного числа существительного "гусь".</p>
                <label><input type="radio" name="q3" value="correct"> А) Гуси</label>
                <label><input type="radio" name="q3" value="inc"> Б) Гусей</label>
                <label><input type="radio" name="q3" value="inc"> В) Гуся</label>
                <label><input type="radio" name="q3" value="inc"> Г) Гусья</label>
            </div>
            <div class="question">
                <p>4. Какое слово в предложении является наречием: "Мы быстро бежали к морю"?</p>
                <label><input type="radio" name="q4" value="inc"> А) Мы</label>
                <label><input type="radio" name="q4" value="correct"> Б) Быстро</label>
                <label><input type="radio" name="q4" value="inc"> В) Бежали</label>
                <label><input type="radio" name="q4" value="inc"> Г) Морю</label>
            </div>
            <div class="question">
                <p>5. Выберите правильный предлог: "Я иду _ магазин".</p>
                <label><input type="radio" name="q5" value="correct"> А) В</label>
                <label><input type="radio" name="q5" value="inc"> Б) На</label>
                <label><input type="radio" name="q5" value="inc"> В) У</label>
                <label><input type="radio" name="q5" value="inc"> Г) С</label>
            </div>
            <div class="question">
                <p>6. Какой падеж у слова "друзья" в предложении: "Я подарил подарок друзьям"?</p>
                <label><input type="radio" name="q6" value="inc"> А) Именительный</label>
                <label><input type="radio" name="q6" value="inc"> Б) Родительный</label>
                <label><input type="radio" name="q6" value="correct"> В) Дательный</label>
                <label><input type="radio" name="q6" value="inc"> Г) Винительный</label>
            </div>
            <div class="question">
                <p>7. Какое слово является причастием: "Видя опасность, он отступил"?</p>
                <label><input type="radio" name="q7" value="correct"> А) Видя</label>
                <label><input type="radio" name="q7" value="inc"> Б) Опасность</label>
                <label><input type="radio" name="q7" value="inc"> В) Он</label>
                <label><input type="radio" name="q7" value="inc"> Г) Отступил</label>
            </div>
            <div class="question">
                <p>8. Укажите форму прошедшего времени глагола "бежать".</p>
                <label><input type="radio" name="q8" value="inc"> А) Бегу</label>
                <label><input type="radio" name="q8" value="correct"> Б) Бежал</label>
                <label><input type="radio" name="q8" value="inc"> В) Бежать</label>
                <label><input type="radio" name="q8" value="inc"> Г) Бежит</label>
            </div>
            <div class="question">
                <p>9. В каком предложении допущена ошибка?</p>
                <label><input type="radio" name="q9" value="inc"> А) Я всегда встаю рано утром.</label>
                <label><input type="radio" name="q9" value="inc"> Б) Он написал сочинение за два часа.</label>
                <label><input type="radio" name="q9" value="correct"> В) Они пошли в кино в суботу.</label>
                <label><input type="radio" name="q9" value="inc"> Г) Ты правильно ответил на вопрос.</label>
            </div>
            <div class="question">
                <p>10. Какое из данных слов является существительным?</p>
                <label><input type="radio" name="q10" value="inc"> А) Прекрасный</label>
                <label><input type="radio" name="q10" value="inc"> Б) Бежать</label>
                <label><input type="radio" name="q10" value="correct"> В) Город</label>
                <label><input type="radio" name="q10" value="inc"> Г) Зелёный</label>
            </div>

            <div class="button-container">
                <button type="submit" id="submitTest">Отправить</button>
            </div>
        </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>
