<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/anketa.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="/">Главная меню</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/getCulturalPage">Культурные интересы</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/getCareerPage" style="font-weight: bolder;">Карьерный рост</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/getPersonalPage">Личные отношения</a>
              </li>
          </ul>
        </div>
      </nav>
      <p><%= msg %></p>
    <div class="container">
        <main class="content">
            <form action="/getRespFromCultural" method="post">
                <table class="self-assessment-table">
                    <tr>
                        <th></th>
                        <th>Чрезвычайно заинтересован</th>
                        <th>Очень заинтересован</th>
                        <th>Умеренно заинтересован</th>
                        <th>Слегка заинтересован</th>
                        <th>Совсем не заинтересован</th>
                    </tr>
                    <tr>
                        <td>Насколько вы очарованы русским фольклором и традиционными Совсем не заинтересован</td>
                        <td><input type="radio" name="q1" value="Чрезвычайно заинтересован"></td>
                        <td><input type="radio" name="q1" value="Совсем Очень заинтересован"></td>
                        <td><input type="radio" name="q1" value="Умеренно заинтересован"></td>
                        <td><input type="radio" name="q1" value="Слегка заинтересован"></td>
                        <td><input type="radio" name="q1" value="Совсем не заинтересован"></td>
                    </tr>
                    <tr>
                        <td>Вызывает ли у вас интерес к изучению языка роль России в мировой истории?</td>
                        <td><input type="radio" name="q2" value="Совсем Чрезвычайно заинтересован"></td>
                        <td><input type="radio" name="q2" value="Очень заинтересован"></td>
                        <td><input type="radio" name="q2" value="Умеренно заинтересован"></td>
                        <td><input type="radio" name="q2" value="Слегка заинтересован"></td>
                        <td><input type="radio" name="q2" value="Совсем не заинтересован"></td>
                    </tr>
                    <tr>
                        <td>Насколько ваш интерес к русской кухне влияет на ваше желание изучать русский язык?</td>
                        <td><input type="radio" name="q3" value="Совсем Чрезвычайно заинтересован"></td>
                        <td><input type="radio" name="q3" value="Очень заинтересован"></td>
                        <td><input type="radio" name="q3" value="Умеренно заинтересован"></td>
                        <td><input type="radio" name="q3" value="Слегка заинтересован"></td>
                        <td><input type="radio" name="q3" value="Совсем не заинтересован"></td>
                    </tr>
                    <tr>
                        <td>Есть ли у вас мотивация изучать русский язык, чтобы понимать российское кино и телевидение без субтитров?</td>
                        <td><input type="radio" name="q4" value="Совсем Чрезвычайно заинтересован"></td>
                        <td><input type="radio" name="q4" value="Очень заинтересован"></td>
                        <td><input type="radio" name="q4" value="Умеренно заинтересован"></td>
                        <td><input type="radio" name="q4" value="Слегка заинтересован"></td>
                        <td><input type="radio" name="q4" value="Совсем не заинтересован"></td>
                    </tr>
                    <tr>
                        <td>Повлияли ли на ваш интерес к русскому языку известные российские ученые и изобретатели?</td>
                        <td><input type="radio" name="q5" value="Совсем Чрезвычайно заинтересован"></td>
                        <td><input type="radio" name="q5" value="Очень заинтересован"></td>
                        <td><input type="radio" name="q5" value="Умеренно заинтересован"></td>
                        <td><input type="radio" name="q5" value="Слегка заинтересован"></td>
                        <td><input type="radio" name="q5" value="Совсем не заинтересован"></td>
                    </tr>
                    <tr>
                        <td>Насколько вас заинтриговали русские праздники и традиции?</td>
                        <td><input type="radio" name="q6" value="Совсем Чрезвычайно заинтересован"></td>
                        <td><input type="radio" name="q6" value="Очень заинтересован"></td>
                        <td><input type="radio" name="q6" value="Умеренно заинтересован"></td>
                        <td><input type="radio" name="q6" value="Слегка заинтересован"></td>
                        <td><input type="radio" name="q6" value="Совсем не заинтересован"></td>
                    </tr>
                    <tr>
                        <td>Хотите ли вы выучить русский язык, чтобы лучше оценить русский театр и балет?</td>
                        <td><input type="radio" name="q7" value="Совсем Чрезвычайно заинтересован"></td>
                        <td><input type="radio" name="q7" value="Очень заинтересован"></td>
                        <td><input type="radio" name="q7" value="Умеренно заинтересован"></td>
                        <td><input type="radio" name="q7" value="Слегка заинтересован"></td>
                        <td><input type="radio" name="q7" value="Совсем не заинтересован"></td>
                    </tr>
                    <tr>
                        <td>Насколько важно понимание русского юмора и идиом в вашем решении изучать язык?</td>
                        <td><input type="radio" name="q8" value="Совсем Чрезвычайно заинтересован"></td>
                        <td><input type="radio" name="q8" value="Очень заинтересован"></td>
                        <td><input type="radio" name="q8" value="Умеренно заинтересован"></td>
                        <td><input type="radio" name="q8" value="Слегка заинтересован"></td>
                        <td><input type="radio" name="q8" value="Совсем не заинтересован"></td>
                    </tr>
                    <tr>
                        <td>Мотивирует ли вас изучение российских социальных сетей и интернет-культуры изучать русский язык?</td>
                        <td><input type="radio" name="q9" value="Совсем Чрезвычайно заинтересован"></td>
                        <td><input type="radio" name="q9" value="Очень заинтересован"></td>
                        <td><input type="radio" name="q9" value="Умеренно заинтересован"></td>
                        <td><input type="radio" name="q9" value="Слегка заинтересован"></td>
                        <td><input type="radio" name="q9" value="Совсем не заинтересован"></td>
                    </tr>
                    <tr>
                        <td>Считаете ли вы привлекательным российское архитектурное и художественное наследие?</td>
                        <td><input type="radio" name="q10" value="Совсем Чрезвычайно заинтересован"></td>
                        <td><input type="radio" name="q10" value="Очень заинтересован"></td>
                        <td><input type="radio" name="q10" value="Умеренно заинтересован"></td>
                        <td><input type="radio" name="q10" value="Слегка заинтересован"></td>
                        <td><input type="radio" name="q10" value="Совсем не заинтересован"></td>
                    </tr>
                </table>
                <button type="submit">Получить результат</button>
            </form>
        </main>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>